.footer{
    width: 100%;
    background-color: #242E78;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    flex-wrap: wrap;
    padding: 0px 55px;
}
.para{
  width: 40px;
  height: 40px;
  cursor: pointer;
  color: #fff;
}
ul li{
    color: #fff;
}
.copyright{
    color: #fff;
    margin-right: 45px;
}
.foot{
    display: none;
}

@media (max-width: 400px){
  
 .foot{
    display: block;
 }
 .logo-footer{
    display: none; 
}
.para{
    display: none;
}
.copyright{
    display: none;
}
.elem{
    display: none;
}
}