.images{
    max-width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.marriage-imgs{
    width: 1550px;
}

/* @media-query */
@media (max-width: 400px){
    .marriage-imgs{
        width: 700px;
    }
}