.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  flex-wrap: wrap;
}
.menu-icon {
  display: none;
  color: black;
  cursor: pointer;
}
.icon{
  width: 300px;
}
.item {
  color: #1976D2;
}
ul {
  flex: 1;
  list-style: none;
  text-align: center;
}

ul li {
  display: inline-block;
  margin: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  padding-top: 20px;
}
.logos {
  width: 140px;
}
.img-navbar {
  gap: 15px;
  margin-right: 25px;
  width: 140px;
  position: relative;
}

/* @media-query */
@media (max-width: 400px) {
  .navbar {
    width: 100%;
    height: 600px;
    margin: 10px 5px;
  }
  .logos {
    width: 115px;
  }
  .div-tools {
    width: 162px;
  }
  ul li {
    display: none;
  }
  .item {
    display: none;
  }
  .div-tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu-icon{
    max-width: 200px;
    width: 35px;
     margin-left: 80%;
     display: block;
     position: absolute;
  }
}
