.MarriageImages{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto 70px;
    /* background-color: #FEF2E8; */
}
.brides-images img{
     width: 500px;
     height: 500px;
}
/* @media-query */
@media (max-width: 400px){
    .MarriageImages{
        background-color: #fef2e8b5;
    }
   .brides-images img{
    width: 370px;
    height: 370px;
    margin-top: 20px;
   }
}